<div id='homePage' style='display:none'>
  <h2 style="text-align:center; margin-bottom:70px">
    It is so easy they don't even need a bitcoin wallet!
  </h2>

  <div id='sendViaTwitter' href="/twitter/gifts/new" class='sexyButton' style='margin-bottom:80px'>
    <i class="icon-twitter icon-large icon"></i> 
    Send via Twitter
  </div>
</div>

<div id='claimableGifts' style='display:none;'>
  <p style='text-align:center' class='important'>Gifts sent to you on Twitter:</p>
  <ul class='well'>
    4 gifts totaling 0.12 bitcoins
  </ul>
</div>

<div id='coinbase' class='important' style='display:none'>
  <h3><span style='float:right'><a style='color:#eee;'>unlink</a></span>Coinbase Connected</h3>
</div>

<script type='text/template' id='coinbaseAccount'>
  <p class='well' style='margin-bottom:50px'>Coinbase Receive Address: {{= receive_address }}</p>
</script>

<script type='text/template' id='giftListItem'>
  <li>
    <a class='amount'>
      <span style='float:right; clear:both;'>{{= recipient_twitter_username }}</span>
      <span style='float:left'>{{= bitcoin_amount }} bit to </span>
    </a>
  </li>
</script>

<form style='display:none' method='post' id='newInvoice' action='/api/invoices' novalidate>
  <p class='input'>Twitter Username of Recipeient:</p>
  <input name='recipient_twitter_username' step='0.001' min='0.001' required='true' type='text'></input>

  <p class='input'>Number of Bitcoins to Send</p>
  <input type='number' name='bitcoin_amount' style='margin-left:6px'></input>

  <br/><br/>

  <input type='submit' value='next' class='sexyButton small'></input>
</form>

<form style='display:none' method='post' id='configReceiveAddresses' action='/api/addresses/receive' novalidate>
  <p class='input'>Enter Bitcoin Address</p>
  <input name='recipient_twitter_username' step='0.001' min='0.001' required='true' type='text'></input>
  OR
  <p style='font-size: 1em; margin-top:2em'class='sexyButton' id='connectCoinbase'>
    <a href='/auth/coinbase'>Connect Coinbase Address</a>
  </p>

  <br/><br/>

  <input type='submit' value='claim!' class='sexyButton small'></input>
</form>

<p href='/auth/twitter' class='important sexyButton' id='twitterGifts' style='display:none;'>
  <a >Claim Gifts with Twitter</a>
</p>

<p href='/addresses/receive' class='important sexyButton' id='configureReceiveAddresses'>
  <a >Claim Bitcoins</a>
</p>
