<script type='text/template' id='invoiceTemplate'>
  <p style='font-size:200%;line-height:150%;text-align:center;'>Click the button to send {{= bitcoinAmount }} bitcoins to @{{= twitterUsername }} on twitter<p>
</script>

<form method='post' id='newInvoice' style='' novalidate>
  <p class='input'>Twitter Username of Recipeient:</p>
  <input name='twitterRecipient' step='0.001' min='0.001' required='true' type='text'></input>

  <p class='input'>Number of Bitcoins to Send</p>
  <input type='number' name='amountInBitcoins'></input>

  <br/><br/>

  <input type='submit' value='next' class='sexyButton small'></input>
</form>

<% content_for :javascripts do %>
  <script>
    $(function(){
      _.templateSettings = {
          interpolate: /\{\{\=(.+?)\}\}/g,
          evaluate: /\{\{(.+?)\}\}/g
      };

      coinbasePaymentCallbackSuccessURL = 'http://sendthembitcoins.com/coinbase/payments/success';

      coinbasePaymentCallbackCancelURL = 'http://sendthembitcoins.com/coinbase/payments/cancel';

      window.createInvoice = function(twitterUsername, bitcoinAmount){
        $.ajax({
          type: 'POST',
          url: '/api/invoices',
          data: {
            twitterUsername: twitterUsername,
            bitcoin_amount: bitcoinAmount
          },
          error: function(err){
            console.log(err);
          }
        })
      };
  
      $('#newInvoice').on('submit', function(e){
        e.preventDefault();
        createInvoice('stevenzeiler',0.01);
      })
    })
  </script>
<% end %>