
<div class="row">
 <div class="span8">
    <div class="account-form  signup">
      <h1>Bridgebase, the Coinbase Ripple Gateway</h1>

      <h5 class='well'>OAuth User Authorization enables seamless integration between your Coinbase account and the Ripple payment network</h5>
      <p>This software uses the open source Ripple Gateway API to provide an interface for users of the Coinbase bitcoin banking service  to the Ripple payment federation: <a href="https://github.com/stevenzeiler/ripple-gateway-accounts-rest-api">github.com/stevenzeiler/ripple-gateway-accounts-rest-api</a><p>

      <p>Registered Coinbase users can hold their bitcoins in their Ripple wallet, enabling payments to other Ripple Payment Federation members in five to seven seconds. Coinbase users will be able to spend their bitcoins directly </p>

      <p>Now Ripple users can hold Coinbase BTC in their Ripple wallet and be able to quickly cash them out in one step using the Bridgebase Ripple Gateway</p>
    </div>
</div>
 <div class="span4" style='float:left'> 
    
    <div class="account-form thumbnail signup">
      <h1>Sign In <br><small style='margin:0 5px '>with your Coinbase account to use bitcoin at the Bridgebase Ripple Gateway</small></h1>


    <div class='well' style='background-image:url("/coinbase_logo_white.png"); background-size: contain; background-repeat: no-repeat;'/>
    
    <div style='margin-top:80px'>
      Already have a Coinbase account? <a href="/auth/coinbase">Sign In</a>
    </div>
    
    </div>
  </div>
