<div class="span6 lightbox-modal" id="twitterModal" style="display:none;"> 
  <div class='lightbox-modal-header'>
    <h2><i class="icon-twitter icon-large"></i> - Send a gift over Twitter</h2>
  </div>
  
  <div class='lightbox-modal-body'>
  <form  action='/api/invoices' method='post'>
    <p>Specify the twitter user to whom you would like to send bitcoins</p>
    <p>@<input id='twitter_recipient_twitter_username' type='text' name='recipient_twitter_username'></p>
    </hr>
  
    <p>And the number of bitcoins you would like them to receive</p>
    <p><input type='number' name='bitcoin_amount' id='twitter_bitcoin_amount' step='any'></p>
  
    <p>    
      <a class='' id='sendTwitter'>Send Them Bitcoins</a>
    </p>
  </form>
  </div>
</div>

