/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 * {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
 }
 

.page-header {
  margin-bottom:90px;
  position:fixed;
  top:0px;
  left:0;
  right:0;
  padding:5px;
  font-size:30px;

  text-align:center;
}

h1 {
  padding:0px; 
  margin:0px; 
  width:80%; 
  font-size:30px;
  text-align:center;
}
 .sexyButton{
     width: 65%;
     margin: 10px 15% 20px 15%;
     font-size: 3em;
     background: white;
     color: #2e3242;
     text-align: center;
     padding: 2.5%;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     border-radius: 10px;
     -webkit-box-shadow: #4f5673 0 10px 0;
     -moz-box-shadow: #4f5673 0 10px 0;
     box-shadow: #4f5673 0 10px 0;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: -moz-none;
     -ms-user-select: none;
     user-select: none;
     display:none;
     /*
     transition: -webkit-box-shadow .3s;
     transition: transform: .3s;
     transition: color: .3s;
     transition: background: .3s;
     */
 }
 .sexyButton:active {
     -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     -webkit-transform: translate(0, 5px);
     -moz-transform: translate(0, 5px);
     -ms-transform: translate(0, 5px);
     -o-transform: translate(0, 5px);
     transform: translate(0, 5px);
     background: #bbbdc7;
     color: white;
}
   
@media screen and (max-width: 768px) { //tablet
  
   .sexyButton {
     font-size: 2em;
     padding: 2.5%;
     width: 255px;
     -webkit-box-shadow: #4f5673 0 8px 0;
     -moz-box-shadow: #4f5673 0 8px 0;
     box-shadow: #4f5673 0 8px 0;
   }
}
  
  
   .sexyButton {
     font-size: 1.333em;
     padding: 5%;
     width: 255px;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     -webkit-box-shadow: #4f5673 0 5px 0;
     -moz-box-shadow: #4f5673 0 5px 0;
     box-shadow: #4f5673 0 5px 0;

   }

   .input {
     color:white; 
     text-align:center;
   }

  input[type='text'], input[type='number'], input[type='email'] {
   font-size:100%;
   padding:5px; 
   padding-left:10px;
   font-size:120%;
   border-radius:5px;
  }

  input[type='number'] {
    margin-left:10px;
  }

   input[type='submit'] {
    margin-top:0px;
   }

   .icon {
     margin-right:10px;
     left:10px;
     position:relative
   }

   form {
    text-align:center; 
    font-size:150%
   }

   h2 { 
     font-size: 200%;
   }

    #newInvoice {
      display:none;
    }

    #claimableGifts ul {
      text-align:center;
      list-style:none;
      margin-left:auto;
      margin-right:auto;
      width:250px;
      font-size:150%;
      font-weight:bold;
    }

    #claimableGifts li {
      padding:1em 0em;
      color: #eee;
      cursor: pointer; cursor: hand;
    }

    #claimableGifts a {
      color: #eee;
    }

    #claimableGifts li:hover {
      opacity:0.8;
    }

    #claimableGifts li:first {
    }


p.important {
  padding-top:20px;
  margin-top:20px;
  text-align:center; 
  font-size:150%
}

a.amount {
  padding-top:10px;
}

a {
  text-decoration: none;
}

body {
  margin-top:80px;
}
.hidden {
  display:none;
}

.page-header {
  color:#eee; 
}

#loading {
  display:none;
  position:fixed;
  padding-top:200px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color:rgba(204, 204, 204, 0.2);
}

#manualAddress input[type='text'] {
  -webkit-box-shadow: #4f5673 0 8px 0;
  -moz-box-shadow: #4f5673 0 8px 0;
  box-shadow: #4f5673 0 8px 0;
  border-radius: 5px 0px 0px 5px;
}

#manualAddress input[type='submit'] {
  float:left;
  width:30%;
  font-size:1em;
  padding:0.4em 0em;
  margin-top:3px;
  border-radius: 0px 5px 5px 0px;
}