<script type='text/template' id='homeView'>
<div class='center-mobile'>
  <div id='sendViaButtons'>
    <a id='sendViaTwitter' href="/escrows/new" class='sendViaButton sexyButton' style='margin-left:0px'>
      Send Bitcoins to a Twitter user
    </a>
    <a id='sendViaTwitter' href="/auth/twitter" class='sendViaButton sexyButton'>
      <i class="icon-twitter icon-large icon"></i> 
      Sign in with Twitter to claim
    </a>
  </div>
  <div style='clear:both'/>

  <div id='loginToClaim'>
    <a href="/ripple/deposit" style='font-size:160%;margin-top:30px;padding:10px;display:block;color:white;background-color:#397dae;' class='sexyButton'>
      Send to Ripple Wallet
    </a>

    <a href="/ripple/withdraw" style='font-size:160%;padding:10px;display:block;background-color:#ddd;color:#666;' class='sexyButton'>
      Withdraw <img src='/assets/bitcoin-tiny.png' /> from Ripple
    </a>
  </div>
</div>
</script>

<script type='text/template' id='newEscrowForm'>
  <div class='center-mobile'>
    <form id='escrowForm'>
      <div class='form-group'>
        <label for='auth_provider'>Select Social Network</label>
        <select class='center-mobile' name='auth_provider' form='escrowForm' style='margin:10px 0'>
          <option value='twitter'>twitter</option>
          <option value='github'>github</option>
          <option value='facebook'>facebook</option>
          <option value='linkedin'>linkedin</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='user_id'>Network username or id </label>
        <input class='center-mobile' name='auth_uid' required='true' type='text'></input>
      </div>
      <div class='form-group'>
        <label for='amount'>Bitcoin Amount</label>
        <input class='center-mobile' name='amount' step='0.001' required='true' type='text'></input>
      </div>
      <input type='hidden' name='currency' value='btc'/>
      <input type='submit' class='sexyButton'/>
    </form>
  </div>
</script>

<script type='text/template' id='rippleDeposit'>
<form class='center-mobile' method='post' action='/api/ripple/bridge_invoices' novalidate>
  <p class='input'>Enter the number of bitcoins</p>
  <input class='center-mobile' name='amount' step='0.001' required='true' type='text'></input>
  <p class='input'>Enter the destination ripple address</p>
  <input class='center-mobile' name='ripple_address' step='0.001' min='0.001' required='true' type='text'></input>

  <input type='submit' style='font-size: 1em; margin-top:2em' class='center-mobile sexyButton' id='rippleNext' value='next'/>
</form>
</script>

<script type='text/template' id='rippleWithdraw'>
<form class='center-mobile' novalidate>
  <p class='input center-mobile'>Enter the destination bitcoin address</p>
  <input placeholder='recipient bitcoin address' name='amount' step='0.001' required='true' type='text' style='margin-top:30px; margin-bottom:30px'></input>
  <p id='bridgeRippleAddress'></p>
  <input type='submit' class='sexyButton' value='submit'/>
</form>
</script>

<script type='text/template' id='headerTemplate'>
  <a href='/' style='color:#eee'>Send Them Bitcoins</a>
  <span style='font-size:50%'> beta</span>
</script>

<script id="row-template" type="text/html">
  <td>{{= amount }}</td>
  <td>{{= currency }}</td>
  <td>{{= funded_at }}</td>
</script>

<script id="table-template" type="text/html">
  <table class='center-mobile table table-striped'>
    <thead>
      <tr>
        <th>amount</th>
        <th>currency</th>
        <th>date</th>
      </tr>
    </thead>

    <tbody></tbody>
  </table>
</script>

