<script type='text/template' id='homeView'>
<div class='center-mobile' id='homePage'>
  <div id='sendViaButtons'>
    <a id='sendViaTwitter' href="/escrows/new" class='sendViaButton sexyButton' style='margin-left:0px'>
      Send Bitcoins to a Twitter user
    </a>
    <a id='sendViaTwitter' href="/auth/twitter" class='sendViaButton sexyButton'>
      <i class="icon-twitter icon-large icon"></i> 
      Sign in with Twitter to claim
    </a>
  </div>
  <div style='clear:both'/>

  <div id='loginToClaim'>
    <a href="/ripple/deposit" style='font-size:160%;margin-top:30px;padding:10px;display:block;color:white;background-color:#397dae;' class='sexyButton'>
      Send to Ripple Wallet
    </a>

    <a href="/ripple/withdraw" style='font-size:160%;padding:10px;display:block;background-color:#ddd;color:#666;' class='sexyButton'>
      Withdraw <img src='/assets/bitcoin-tiny.png' /> from Ripple
    </a>
  </div>
</div>
</script>

<script type='text/template' id='newEscrowForm'>
  <div class='center-mobile'>
    <h3>Create an Escrow</h3>
    <form id='escrowForm'>
      <select name='auth_provider' form='escrowForm'>
        <option value='twitter'>twitter</option>
        <option value='github'>github</option>
        <option value='facebook'>facebook</option>
        <option value='linkedin'>linkedin</option>
      </select>

      <input type='submit' class='sexy-button'/>
    </form>
  </div>
</script>

<form style='display:none' method='post' id='newInvoice' action='/api/invoices' novalidate>
  <p class='input'>Twitter Username of Recipeient:</p>
  <input name='recipient_twitter_username' step='0.001' min='0.001' required='true' type='text'></input>

  <p class='input'>Number of Bitcoins to Send</p>
  <input type='number' name='bitcoin_amount' style='margin-left:6px'></input>

  <br/><br/>

  <input type='submit' value='next' class='sexyButton small'></input>
</form>

<form style='display:none' method='post' id='rippleBridgeForm' action='https://www.sendthembitcoins.com/api/ripple/bridge_invoices' novalidate>
  <p class='input'>Enter the number of bitcoins</p>
  <input class='center-mobile' name='amount' step='0.001' required='true' type='text'></input>
  <p class='input'>Enter the destination ripple address</p>
  <input class='center-mobile' name='ripple_address' step='0.001' min='0.001' required='true' type='text'></input>

  <input type='submit' style='font-size: 1em; margin-top:2em' class='center-mobile sexyButton' id='rippleNext' value='next'/>
</form>

<script type='text/template' id='rippleBridgeForm'>
<form id='withdrawFromRipple' novalidate>
  <p class='input center-mobile'>Enter the destination bitcoin address</p>
  <input class='center-mobile' id='destinationBitcoinAddress' placeholder='recipient bitcoin address' name='amount' step='0.001' required='true' type='text' style='margin-top:30px; margin-bottom:30px'></input>
  <p class='well input center-mobile' style='width:500px;' id='bridgeRippleAddress'></p>
  <input type='submit' style='font-size: 1em; margin-top:2em' class='sexyButton center-mobile' id='rippleNext' value='submit'/>
</form>
</script>
