          <footer style='position:absolute;bottom:0px;left:0px;right:0px;width:100%;'>
    <div class="container">
        <div class="row">
            
            <div class="span3">
                <h5>Pullus Creative Ltd.</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing. Aenean nisl orci, condimentum ultrices. </p>
            </div><!--span3-->
            
            <div class="span3">
                <h5>Contact info</h5>
                <hr>
                <p>
                    <strong class="colored"> Address:</strong> Morbi nec est. Quisque lobortis<br>
                    <strong class="colored">Phone/Fax:</strong> 012 345 6789<br>
                    <strong class="colored">Mobile:</strong> 012 345 6789
                </p>
            </div><!--span3-->
            
            <div class="span3">
                <h5>Social</h5>
                <hr>
                <ul class="social">
                    <li>
                        <a href="#" title="Facebook"><i class="icon-facebook icon-large"></i> <span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="#" title="Twitter"><i class="icon-twitter icon-large"></i> <span>Twitter</span></a>
                    </li>
                    <li>
                        <a href="#" title="Google+"><i class="icon-google-plus icon-large"></i> <span>Google+</span></a>
                    </li>
                    <li>
                        <a href="#" title="Linkedin"><i class="icon-linkedin icon-large"></i> <span>Linkedin</span></a>
                    </li>
                </ul>
            </div><!--span3-->
            
            <div class="span3">
                <h5>Some useful links</h5>
                <hr>
                <ul class="linksListFooter">
                    <li>
                        <a href="#"><i class="icon-caret-right"></i><span>Nullam nec nunc sed libero</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-caret-right"></i><span>Suspendisse potenti</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-caret-right"></i><span>Donec ut mi posuere</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-caret-right"></i><span>Suspendisse dolor dui</span></a>
                    </li>
                </ul>
            </div><!--span3-->
            
        </div><!--row-->
    </div><!--container-->
</footer>
