    <header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="logo">
                    Send Them Bitcoins
                </div>
                
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" class="span3 search-query" placeholder="Search">
                        <span class="add-on"><i class="icon-search"></i></span>
                    </div>
                </form>
                
                <div id="mainNavContainer">
                    <ul id="mainNav">
                        <li class="home dropdown">
                            <a href="#" data-toggle="dropdown">
                                <span>Home</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Sequence slider</a></li>
                                <li><a href="index2.html">Nivo slider</a></li>
                            </ul>
                        </li>
                        <li class="pages dropdown">
                            <a href="#" data-toggle="dropdown">
                                <span>Pages</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html">About us</a></li>
                                <li><a href="portfolio.html">Portfolio list</a></li>
                                <li><a href="portfolio-item.html">Portfolio item</a></li>
                                <li><a href="blog-default.html">Blog list</a></li>
                                <li><a href="blog-details.html">Blog details</a></li>
                                <li><a href="gallery.html">Photo gallery</a></li>
                                <li><a href="coming-soon.html">Coming soon page</a></li>
                                <li><a href="error.html">Error page</a></li>
                            </ul>
                        </li>
                        <li class="features dropdown">
                            <a href="#" data-toggle="dropdown" class="active">
                                <span>Features</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li class="contact">
                            <a href="contact.html">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div><!--mainNavContainer-->
            </div><!--span12-->
        </div><!--row-->
	</div><!--container-->
	</header>    