<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Steven Zeiler">
    <meta name="description" content="Send Bitcoins to people in your social networks.">
    <meta name="keywords" content="Bitcoins, Gifts, Social Networking, Payment">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    <!-- Powerful front-end framework for faster and easier web development. -->
    
    <link rel="stylesheet" href="/css/font-awesome.css" />
    
    <!-- This is the main styling CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/style_ie7.css" />
    <![endif]-->
    
    
    <!-- Use this css only when u/sing sequence slider -->
    <link rel="stylesheet" href="/css/sequence.css">
    <link rel="stylesheet" href="/assets/application.css"/>
  
    <style>
      .provider-title {
        font-size:250%;
        line-height:100%
      }

      #headings .span3{
        opacity: 0.8;
        padding:1em;
      }
      
      #headings .span3:hover {
        opacity: 1.0;
        cursor:pointer;
        background-color:rgba(238, 238, 238, 0.1)
      }
      
      #headings a {
        color:inherit;
      }
      
      #headings a:hover {
        text-decoration:none; 
      }
      
      #headings .span3 {
        width:20%;
      }

      ul.oauth {
        padding-top:-10px;
        list-style:none; 
        clear:both;
        padding-bottom:20px;
      }
      
      ul.oauth h3 {
        padding-top:-20px;
        margin-bottom:10px;
      }
      
      ul.oauth li {
        padding:5px;
        float:left;
        font-size:150%;
        width:22%
      }

      #tables {
        margin-top:-100px;
      }
    </style>
    <script src="/js/modernizr.min.js"></script>
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Send Them Bitcoins - The easiest way to support people in your social network.</title>
</head>
<body class="default">
    <div class='header-underblock dark_mosaic' style='position:fixed;top:0px;left:0;right:0;height:70px'></div>
  
  
    <div id="content">
		  <div class="page-header">Send Them Bitcoins</div>
  
      <div class='page-content'><%= yield %></div>
    </div>
    <%= javascript_include_tag :application %>
    <script src="/js/bootstrap.js"></script>
    <%= yield :javascripts %>
    <script type='text/javascript'>
      $(function(){
        document.addEventListener("menubutton", onMenuKeyDown, false);
        var menuPressed = false;
        var html = '';
        
        function onMenuKeyDown() {
          if (menuPressed == false) {
            html = $('h1').html();
            $('h1').html('the menu was pressed!');
            menuPressed = true;
          } else {
            html = $('h1').html();
            menuPressed = false;
          }
        }
      })
    </script>
  </body>

</html>
